<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Chitter Chat</title>
	<link rel="stylesheet" href="">
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<p class="display-4 text-md-center text-sm-left">Chitter Chat</p>
		</nav>
		<div class="row ">
			<div class="col-sm-12 col-md-4 mx-auto mt-5">
				<div class="card" style="height:18rem; width:18rem">
					<img class="card-img-top" src="/images/chat2.jpg" alt="Card image cap">
					<div class="card-body text-center">
						<p class="lead">
							<a class="btn btn-primary btn-lg" href="/PersonLogin" role="button">
								</button>Personal Chat</a>
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-4 mx-auto mt-5">
				<div class="card" style="height:18rem; width:18rem">
					<img class="card-img-top" src="/images/chat.jpg" alt="Card image cap">
					<div class="card-body text-center">
						<p class="lead">
							<a class="btn btn-primary btn-lg" href="/StrangerChat" role="button">
								</button>Stranger Chat</a>
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>